<div class="row">
  <div class="col s12 m4 l3"></div>
  <div class="col s12 m4 l6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator"
             src="https://dc722jrlp2zu8.cloudfront.net/media/cache/a1/54/a154d0b11e3d268ae02644caf7d8c732.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Qué es Docker<i
          class="material-icons right">more_vert</i></span>
        <p><a href="https://openwebinars.net/blog/que-es-docker/">Link informacion</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Qué es Docker<i class="material-icons right">close</i></span>
        <p>
          Docker es una tecnología que nos va a permitir ejecutar un proceso de una manera totalmente aislada del resto
          de los proceso de la máquina.

          Es una tecnología que además de ejecutar ese proceso de manera aislada, nos va a permitir que ese proceso
          defina todas las dependencias que necesita para ser ejecutado.

          Es decir, cuando llegamos a un proyecto nuevo o hacemos un check-out de un repositorio en Github, muchas veces
          necesitamos instalar una serie de dependencias o esa herramienta que queremos utilizar solo funciona sobre una
          distribución concreta de Linux.

          Esa distribución que necesita para funcionar, las dependencias que necesita del sistema operativo para
          ejecutar y las dependencias, probablemente, del lenguaje de programación que necesita esa herramienta para
          ejecutar, con Docker vamos a conseguir empaquetarlas en una imagen, de tal manera que toda esa información
          está disponible en el momento de ejecutar este programa.

        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l3"></div>
</div>

<div class="row">
  <div class="col s12 m4 l3"></div>
  <div class="col s12 m4 l6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../../assets/Docker_Install.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Introducción<i
          class="material-icons right">more_vert</i></span>
        <p><a href="https://www.digitalocean.com/community/tutorials/how-to-install-and-use-docker-on-ubuntu-16-04">Link
          informacion</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Introducción<i class="material-icons right">close</i></span>
        <p>
          Docker es una aplicación que simplifica y facilita la ejecución de procesos de aplicación en un contenedor,
          que son como máquinas virtuales, solo que más portátiles, más amigables con los recursos y más dependientes
          del sistema operativo host. Para obtener una introducción detallada de los diferentes componentes de un
          contenedor Docker, consulte El ecosistema Docker: una introducción a los componentes comunes .

          Hay dos métodos para instalar Docker en Ubuntu 16.04. Un método implica instalarlo en una instalación
          existente del sistema operativo. El otro implica hacer girar un servidor con una herramienta llamada Docker
          Machine que instala automáticamente Docker en él.

          En este tutorial, aprenderá cómo instalarlo y usarlo en una instalación existente de Ubuntu 16.04.

        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l3"></div>
</div>

<div class="row">
  <div class="col s12 m4 l3"></div>
  <div class="col s12 m4 l6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../../assets/Docker_Install.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">¿Qué es la integración continua?<i
          class="material-icons right">more_vert</i></span>
        <p><a href="https://openwebinars.net/blog/que-es-jenkins-introduccion/">Link informacion</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">¿Qué es la integración continua?<i
          class="material-icons right">close</i></span>
        <p>

          La integración continua es un término que utilizó por primera vez Martin Fowler, y consiste en hacer
          integraciones automáticas de un proyecto lo más a menudo posible . Se entiende por integración la compilación
          y ejecución de pruebas de todo un proyecto . El proceso se lleva a cabo normalmente cada cierto tiempo y su
          función es la descarga de las fuentes desde el control de versiones, su posterior compilación, la ejecución de
          pruebas y generar informes.

          Una de las ventajas de utilizar un software de integración continua es que los desarrolladores pueden detectar
          y solucionar problemas de integración de forma continua , evitando el caos de última hora cuando se acercan
          las fechas de entrega. Además, siempre se dispone de una versión para pruebas , demos o no lanzamientos
          anticipados. Se pueden ejecutar de forma inmediata las pruebas unitarias y hay una monitorización continua de
          las métricas de calidad del proyecto.
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l3"></div>
</div>

<div class="row">
  <div class="col s12 m4 l3"></div>
  <div class="col s12 m4 l6">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator"
             src="https://dc722jrlp2zu8.cloudfront.net/media/cache/94/7e/947ebf4d1a9398459d88ffb10495a5b8.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">8 Datos importantes sobre el uso de Docker<i
          class="material-icons right">more_vert</i></span>
        <p><a href="https://openwebinars.net/blog/8-datos-sorprendentes-sobre-el-uso-de-docker/">Link informacion</a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">8 Datos importantes sobre el uso de Docker<i
          class="material-icons right">close</i></span>
        <p>
          Hoy os compartimos 8 datos sobre la adopción de Docker en el mundo real . Para la realización de este artículo
          nos hemos basado en la investigación realizada por Datadog en Junio de 2016 .

          Docker es problablemente la tecnología de insfraestrucutra de sistema y DevOps que está más de moda en 2016.
          El siguiente estudio se basa en el uso real de Docker sobre una muestra de 10.000 empresas , no se ha
          contemplado usos de testeo o uso anecdótico.

          A través de este artículo veremos 3 diferentes estados de adopción :

          Adoptante : La medía del número de contenedores ejecutándose durante en mes fue de al menos un 50% el número
          de distintos hosts ejecutándose, o había al menos tantos contenedores distintos como hosts distintos
          ejecutándose durante el mes del estudio.
          Ocasional : Usa Docker durante el mes pero no alcanza el nivel de adoptado.
          Abandonado : Una empresa activa que ha usado Docker en el pasado, pero no lo ha usado en el último mes.
        </p>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l3"></div>
</div>

